{
  "presets": [
    [
      "env",
      {
        "modules": "commonjs"
      }
    ],
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ]
      }
    ]
  ]
}
